<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>

        <div class="panel-body">
          <div class="hcenter">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="form-group">
                <%= devise_error_messages! %>
              </div>

              <div class="form-group">
                <%= f.label :email%><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="form-group">
                <%= f.label :password, class: "no-bottom-margin" %>
                <br /><small><em>(leave blank to keep as is)</em></small><br />
                <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                  <br />
                  <small><em><%= @minimum_password_length %> characters minimum</em></small>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :current_password, class: "no-bottom-margin" %>
                <br /><small><em>(to confirm your changes)</em></small><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>
            
              <%= f.submit "Update", class: "btn-primary btn-block"  %>
              <br /><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-primary btn-block" %>
            </div>
            <% end %>
          </div>
        <div class="panel-footer text-center">
          <%= link_to "Back", :back %>
        </div>

        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
