<table class="table table-hover">
  <thead>
    <tr>
      <th>On Hand</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody><% @items.each do |item| %>
    <tr>
      <th scope="row" class="col-md-1"><%= item.quantity %></th>
      <td class="col-md-2"><%= item.title %></td>
      <td class="col-md-1"><%= item.issue %></td>
      <td class="col-md-1"><%= item.price %></td>
      <td class="col-md-1"><%= item.release_date %></td>
      <td class="col-md-6"><%= item.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
