<!DOCTYPE html>
<html>
  <head>
    <title>DreamPOS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user %>
      <p>
        Welcome, <%= current_user.email %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </p>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
